---
# ---------------------------
# general style settings
# ---------------------------
BasedOnStyle:  ''
Standard:      Auto
ColumnLimit:   0
LineEnding:    LF
UseTab:        ForContinuationAndIndentation
TabWidth:      4
IndentWidth:   4
ContinuationIndentWidth: 4

# ---------------------------
# alignment options
# ---------------------------
AlignAfterOpenBracket:        DontAlign
AlignArrayOfStructures:       Left
AlignConsecutiveMacros:       AcrossEmptyLines
AlignConsecutiveAssignments:  None
AlignConsecutiveBitFields:    AcrossEmptyLines
AlignConsecutiveDeclarations: None
AlignEscapedNewlines:         Left
AlignOperands:                DontAlign
AlignTrailingComments:        Always

# ---------------------------
# short constructs on a single line
# ---------------------------
AllowShortBlocksOnASingleLine:       Always
AllowShortFunctionsOnASingleLine:    All
AllowShortLambdasOnASingleLine:      All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCaseLabelsOnASingleLine:   true
AllowShortEnumsOnASingleLine:        true
AllowShortLoopsOnASingleLine:        true

# ---------------------------
# break and wrapping options
# ---------------------------
AlwaysBreakBeforeMultilineStrings: true
BreakAfterReturnType:           Automatic
BreakTemplateDeclarations:      MultiLine
BreakBeforeBinaryOperators:     None
BreakBeforeConceptDeclarations: Never
BreakBeforeBraces:              Attach
BreakInheritanceList:           BeforeColon
BreakConstructorInitializers:   BeforeColon
BreakBeforeTernaryOperators:    true
BreakStringLiterals:            true

# ---------------------------
# brace wrapping configuration
# ---------------------------
BraceWrapping:
  AfterControlStatement: Never
  AfterCaseLabel:        false
  AfterClass:            false
  AfterEnum:             false
  AfterFunction:         false
  AfterNamespace:        false
  AfterObjCDeclaration:  false
  AfterStruct:           false
  AfterUnion:            false
  AfterExternBlock:      false
  BeforeCatch:           false
  BeforeElse:            false
  BeforeLambdaBody:      false
  BeforeWhile:           false
  IndentBraces:          false
  SplitEmptyFunction:    false
  SplitEmptyRecord:      false
  SplitEmptyNamespace:   false

# ---------------------------
# constructor initializer and parameter packing options
# ---------------------------
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: BinPack
BinPackParameters: true
BinPackArguments:  false

# ---------------------------
# pointer alignment
# ---------------------------
DerivePointerAlignment: false
PointerAlignment:       Left
ReferenceAlignment:     Pointer
QualifierAlignment:     Right

# ---------------------------
# include settings and sorting
# ---------------------------
IncludeIsMainSourceRegex: ''
IncludeIsMainRegex:       '([-_](test|unittest))?$'
IncludeBlocks:      Regroup
IncludeCategories:
  - Regex:         '^<.*\.h>'
    Priority:      2
    SortPriority:  0
    CaseSensitive: true
  - Regex:         '^".*'
    Priority:      3
    SortPriority:  0
    CaseSensitive: true

# ---------------------------
# macro and language-specific settings
# ---------------------------
AttributeMacros:
  - __capability
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
IfMacros:
  - KJ_IF_MAYBE
StatementAttributeLikeMacros:
  - Q_EMIT
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
WhitespaceSensitiveMacros:
  - STRINGIZE
  - PP_STRINGIZE
  - BOOST_PP_STRINGIZE
  - NS_SWIFT_NAME
  - CF_SWIFT_NAME

# ---------------------------
# additional formatting and sorting details
# ---------------------------
AllowAllArgumentsOnNextLine:      false
AllowAllParametersOfDeclarationOnNextLine: false
EmptyLineAfterAccessModifier:     Never
EmptyLineBeforeAccessModifier:    LogicalBlock
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments:             true
MaxEmptyLinesToKeep:              4
ReflowComments:                   true
RemoveBracesLLVM:                 false
SeparateDefinitionBlocks:         Leave
ShortNamespaceLines:              1
SortIncludes:                     CaseSensitive
SortJavaStaticImport:             Before
SortUsingDeclarations:            LexicographicNumeric

# ---------------------------
# spacing options
# ---------------------------
SpaceAfterCStyleCast:             false
SpaceAfterLogicalNot:             false
SpaceAfterTemplateKeyword:        false
SpaceBeforeAssignmentOperators:   true
SpaceBeforeCaseColon:             false
SpaceBeforeCpp11BracedList:       false
SpaceBeforeCtorInitializerColon:  true
SpaceBeforeInheritanceColon:      true
SpaceBeforeParens:                ControlStatements
SpaceBeforeParensOptions:
  AfterControlStatements:       true
  AfterForeachMacros:           true
  AfterFunctionDefinitionName:  false
  AfterFunctionDeclarationName: false
  AfterIfMacros:                true
  AfterOverloadedOperator:      false
  BeforeNonEmptyParentheses:    false
SpaceAroundPointerQualifiers:     Default
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock:                 true
SpacesInParens:            Custom
SpacesInParensOptions:
  ExceptDoubleParentheses: false
  InConditionalStatements: false
  InCStyleCasts:           false
  Other:                   false
SpacesBeforeTrailingComments: 1
SpacesInAngles:               Never
SpacesInConditionalStatement: false
SpacesInContainerLiterals:    true
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
SpacesInParentheses:       false
SpacesInSquareBrackets:    false
SpaceBeforeSquareBrackets: false
BitFieldColonSpacing:      Both

# ---------------------------
# indentation details
# ---------------------------
IndentAccessModifiers: false
IndentCaseLabels:      false
IndentCaseBlocks:      false
IndentGotoLabels:      true
IndentExternBlock:     AfterExternBlock
IndentRequiresClause:  false
IndentPPDirectives:    None
PPIndentWidth:         1

---
# ---------------------------
# Objective-C specific settings
# ---------------------------
Language:                        ObjC
ObjCBinPackProtocolList:         Never
ObjCBlockIndentWidth:            4
ObjCBreakBeforeNestedBlockParam: true
ObjCSpaceAfterProperty:          false
ObjCSpaceBeforeProtocolList:     true
...
